@use "../node_modules/@picocss/pico/scss/pico.scss" with (
    $theme-color: "fuchsia"
);

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.material-icons {
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    vertical-align: text-top;
}

img {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}

article {
    margin-top: auto;
    padding-top: 2em;
}

main .container {
    padding-top: -10px;
    margin-top: 0;
}

video {
    width: 100%; 
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

section a {
    width: 100%;
}

small {
    max-width: 75%;
    opacity: 0.8;
    font-size: 0.7em;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    display: block;
}

small p {
    text-align: left;
}

aside {
    background-color: #111;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 10px;

    ul, ol {
        margin:auto;
        padding-left: 60px;
        list-style:revert;
        list-style-position: outside;
        li {
            padding:0px;
            padding-bottom: 0.2em;
            padding-left: 0.2em;
            display:list-item;
        }
        
    }

    strong, img {
        animation: blink 1s steps(2, start) infinite;
    }

    p {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
