@use "../node_modules/@picocss/pico/scss/pico.scss" with ($theme-color: "fuchsia");
@use "../node_modules/@picocss/pico/scss/colors" as *;

@import url("https://api.iconify.design/mdi.css?icons=github,rss,home,alert-decagram,open-in-new");

i {
    font-size: 1.25rem;

    // line height adjustment; thanks picocss
    transform: translateY(0.25rem);

    &.sm {
        font-size: 1rem;
        transform: translateY(0.125rem);
    }

    &.xs {
        font-size: 0.75rem;
    }
}

hgroup {
    p {
        margin-top: 0.25rem;
    }
}

img {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

article {
    margin-top: auto;
    padding: 1.5rem;
}

main .container {
    margin-top: 0;
}

video {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

section a {
    width: 100%;
}

small {
    max-width: 75%;
    opacity: 0.8;
    font-size: 0.7em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

small p {
    text-align: left;
}

.toc {
    outline: 2px solid;
    outline-color: $fuchsia-500;
    border-radius: 20px;
    backdrop-filter: blur(1.5em) grayscale(0.8);
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 10;

    li {
        width: auto;
        list-style: none;
        margin-bottom: 0px;

        a {
            text-decoration: none;
        }

    }
}

.sticky-toc {
    left: 50px;
    position: sticky;
    top: 0.5rem;
    z-index: 10;

    summary {
        backdrop-filter: blur(0.5em);
    }
}

aside {
    background-color: #111;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    position: relative;

    ul,
    ol {
        margin: auto;
        padding-left: 60px;
        list-style: revert;
        list-style-position: outside;

        li {
            padding: 0px;
            padding-bottom: 0.2em;
            padding-left: 0.2em;
            display: list-item;
        }

    }

    i:first-child {
        position: absolute;
        left: .875rem;
        top: 1.125rem;
    }

    p,
    strong:nth-child(2) {
        padding: 0 1.875rem;
    }

    strong:nth-child(2) {
        margin-bottom: 1rem;
        margin-top: 0.25rem;
        font-size: 1rem;
        display: block;

        &.amber {
            font-weight: 600;
            letter-spacing: 0.01em;
        }
    }

    .amber {
        color: $amber-400;
    }
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.heading-anchor {
    top: -6rem;
}

img.github-logo {
    color: white;
}