@use "../node_modules/@picocss/pico/scss/pico.scss" with (
    $theme-color: "fuchsia"
);

article {
    margin-top: auto;
    padding-top: 2em;
}

main .container {
    padding-top: -10px;
    margin-top: 0;
}

video {
    max-width: 90%;
}
