<!DOCTYPE html>
<html lang="en">

{% macro titleSetup() %}
{%- if page -%}
{{ page.title }}
{% raw %} - {% endraw %}
{%- endif -%} {{ config.title }}
{% endmacro titleSetup %}

{%- macro title() -%}
{{ self::titleSetup() | linebreaksbr | spaceless | striptags | safe}}
{%- endmacro title -%}


<head>
  <meta charset="utf-8">
  <title>{{ self::title() }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{{ get_url(path="styles/style.css") | safe }}" />
  <meta property="og:title" content="{{ self::title()}}" />
  <meta property="og:description" content="{% block description %}{% endblock description %}" />
  <meta property="og:site_name" content="funkin.me">
  <meta property="og:type" content="website" />
  <meta property="og:image"
    content="https://user-images.githubusercontent.com/22229331/213636577-8983e46c-fbf0-43e3-86e6-4797ae3ef59e.gif" />
  <meta property="og:url" content="{{ current_url }}" />
  <meta name="theme-color" content="#ff1cb0">

</head>

<body class="flex flex-col">

  {% set sectionNewest = get_section(path="blog/_index.md") %}
  <!-- Just to keep whitespace lol! -->
  {% set pageNewest = sectionNewest.pages[0] %}
  <!---->

  <marquee scrolldelay="6" truespeed="true" scrollamount="1" class="text-gray-100">
    friday night funkin' - the funkin' crew inc. 2025
  </marquee>

  <div class="max-w-5xl w-full mx-auto">
    <nav class="flex flex-row items-center gap-4 py-2 *:no-underline">
      <a href="{{ config.base_url }}" class="text-gray-50 grow">
        <i class="i-mdi-home"></i>
        The Funkin' Crew Inc.
      </a>
      <a href="https://kickstarter.funkin.me" target="_blank" class="text-gray-50">
        Kickstarter Backer Portal
        <i class="sm i-mdi-open-in-new"></i>
      </a>
      <a href="{{ get_url(path='@/kickstarter-support/_index.md') }}" class="text-gray-50">
        Kickstarter Support
      </a>
      <a href="{{ get_url(path='@/blog/_index.md') }}" class="text-gray-50">Blog</a>
      <a href="/atom.xml">
        <i class="i-mdi-rss"></i>
      </a>
      <a href="https://github.com/FunkinCrew/funkBlog" target="_blank" class="text-gray-50">
        <i class="i-mdi-github"></i>
      </a>
    </nav>

    <marquee class="text-gray-100 my-4">
      <em>
        Latest blog post: <a href="{{ pageNewest.permalink | safe }}">{{ pageNewest.title }}</a>
      </em>
    </marquee>
  </div>

  <main class="max-w-5xl w-full mx-auto prose prose-invert">
    {% block content %} {% endblock %}
  </main>

  <footer class="my-8">
    <div align='center'>
      <a href='https://www.free-website-hit-counter.com'>
        <img src='https://www.free-website-hit-counter.com/c.php?d=9&id=145132&s=36' border='0'
          alt='Free Website Hit Counter'>
      </a>
      <br />
      <small>
        <a href='https://www.free-website-hit-counter.com' title="Free Website Hit Counter">
          Free website hit counter
        </a>
      </small>
    </div>
  </footer>

</body>

</html>
