<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta property="og:title" content="Funkin.me" />
    <meta property="og:description" content="{% block description %}{% endblock description %}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://user-images.githubusercontent.com/22229331/213636577-8983e46c-fbf0-43e3-86e6-4797ae3ef59e.gif" />
    <meta property="og:url" content="{{ current_url }}" />
    <style>
        .center {
            margin: 0 auto;
        }
        
        main {
            padding-top: 3em;
        }
    </style>

</head>

<body>
    <nav class="container">
        <ul>
            <li>
                <a href="{{ config.base_url }}">
                    <span>Funkin.me</span>
                </a>
            </li>
        </ul>
        <ul>
            <li><a href="{{ get_url(path='@/blog/_index.md') }}" class="contrast">Blog</a></li>
            <!-- <li><a href="https://" class="contrast">Blog</a></li> -->
        </ul>

    </nav>
    <main class="container">
        {% block content %} {% endblock %}
    </main>
</body>

</html>