{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock title %}

{%- block description -%}
{%- if page.summary -%}
{{ page.summary | striptags }}
{%- else -%}
{{ page.content | truncate(length=244) | striptags}}
{%- endif -%}
{%- endblock description -%}

{% block content %}
<article class="bg-gray-920 rounded p-8 mb-4">

  <hgroup class="container mb-5">
    <h1>{{ page.title }}</h1>
    <p>
      {{ page.reading_time | safe }}&nbsp;minute&nbsp;read
      - Published&nbsp;on:&nbsp;{{ page.date | date(format="%Y/%m/%d") }}
    </p>
  </hgroup>

  <details class="sticky toc group">
    <summary role="button">
      Table of Contents
      <i class="i-mdi-chevron-right group-open:i-mdi-chevron-down text-gray-200"></i>
    </summary>
    {% if page.toc %}

    <ul class="not-prose">
      {% for h1 in page.toc %}
      <li>
        <a href="{{ h1.permalink | safe }}" onclick="close_toc()">{{
          h1.title }}</a>
        {% if h1.children %}
        <ul>
          {% for h2 in h1.children %}
          <li>
            <a href="{{ h2.permalink | safe }}" onclick="close_toc()">{{ h2.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% endif %}
  </details>

  {{ page.content
  | regex_replace(pattern=`h3`, rep=`h4`)
  | regex_replace(pattern=`h2`, rep=`h3`)
  | regex_replace(pattern=`h1`, rep=`h2`)
  | regex_replace(
  pattern=`<h(\d) id="(.+)">(.+)</h(\d)>`,
  rep=`<h$1 id="h$1-$2" class="relative">
    <div class="absolute heading-anchor" id="$2"></div>
    $3
  </h$1>
  `)
  | safe
  }}

  <script>
    const toc = document.getElementsByClassName('sticky-toc')[0];
    const close_toc = () => toc.open = false;

    const h1 = document.getElementsByTagName('h1');
  </script>

</article>

<div class="flex flex-row gap-2 my-4">

  {% if page.higher.date %}
  <button type="button" width="100%" onclick="window.location.href='{{ page.higher.permalink }}'" class="px-4 py-3 bg-primary text-white rounded-lg grow basis-0">
    Previous Post <br> {{ page.higher.title }}
  </button>
  {% endif %}

  <button type="button" width="100%" onclick="window.location.href='{{ get_url(path='@/blog/_index.md') }}'" class="px-4 py-3 bg-primary text-white rounded-lg grow basis-0">
    Return to blog
  </button>

  {% if page.lower.date %}
  <button type="button" width="100%" onclick="window.location.href='{{ page.lower.permalink }}'" class="px-4 py-3 bg-primary text-white rounded-lg grow basis-0">
    Next Post <br> {{ page.lower.title }}
  </button>
  {% endif %}

</div>

{% endblock content %}
