{% extends "base.html" %} {% block title %}FUNKIN' BLOG{% endblock title %} {% block content %}
<article class="four-fifth center">
    <h1>{{ section.title }} </h1>

    {% for page in section.pages %}
    <article class="card">
        <header>
            <hgroup>
                <h2> {{ page.title }}</h2>
                <h3> {{ page.reading_time | safe }} minute read - Published on: {{ page.date | date(format="%d/%m/%Y") }}&nbsp;</h3>
            </hgroup>


        </header>
        <section class="center">{{ page.summary | safe }}</section>
        <a href="{{ page.permalink | safe }}" role="button">Read full blog post</a>
    </article>

    {% endfor %}
</article>
{% endblock content %}