html,
body {
    @apply bg-gray-950 text-gray-50 text-lg;
}

.primary {
    @apply text-primary-400 transition-colors;

    &:hover {
        @apply text-primary-300;
    }
}

.border-primary {
    @apply border-primary-400 transition-colors;

    &:hover {
        @apply border-primary-300;
    }
}

.bg-primary {
    @apply bg-primary-600 transition-colors;

    &:hover {
        @apply bg-primary-500;
    }
}

a {
    @apply primary underline;

    &:hover {
        @apply underline;
    }
}

.prose {
    hgroup {
        p {
            @apply text-gray-300;
        }
    }

    --tw-prose-links: theme("colors.primary.400");
    --tw-prose-headings: theme("colors.white");
    --tw-prose-bold: theme("colors.white");
    --tw-prose-body: theme("colors.gray.50");
    --tw-prose-pre-code: theme("colors.gray.50");
    --tw-prose-quotes: theme("colors.gray.50");
    --tw-prose-captions: theme("colors.gray.200");
    --tw-prose-counters: theme("colors.gray.200");
    --tw-prose-lead: theme("colors.gray.200");
    --tw-prose-bullets: theme("colors.gray.400");
    --tw-prose-tr-borders: theme("colors.gray.400");
    --tw-prose-hr: theme("colors.gray.600");
    --tw-prose-quote-borders: theme("colors.gray.600");
    --tw-prose-td-borders: theme("colors.gray.600");
}
